[Unit]
Description=repoSpanner - instance %i
After=network.target

[Install]
WantedBy=multi-user.target
Alias=repospanner-instances.target

[Service]
EnvironmentFile=/etc/sysconfig/repospanner
Type=simple
ExecStart=/usr/bin/repospanner serve --config /etc/repospanner/%i.yml ${debug}
Restart=on-failure
LimitNOFILE=65536
